<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
  <form action="/madlib" method="POST">
    
    Let's play another game!<br>
    Fill in the blanks:<br>
    <input type="text" name="person">
    <label for="person">person</label><br>
    <input type="text" name="color" >
    <label for="color">color</label><br>
    <input type="text" name="noun" >
    <label for="noun">noun</label><br>
    <input type="text" name="adjective" >
    <label for="adjective">adjective</label><br>
    <input type="text" name="noun_2" >
    <label for="noun_2">second noun</label><br>
    <input type="text" name="plural_noun" >
    <label for="plural_noun">plural noun</label><br>
    <input type="submit">
  </form>
</body>
</html>
