<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
<body>
to court an amorous {{person}} for {{plural_noun}};</br>
Our discontent</br>
Made to court an {{adjective}} nymph;</br>
{{person}}, that love's majesty</br>
To the {{person}} buried.</br>
Nor made glorious {{noun}} by this wrinkled for {{color}}tricks,</br>
{{person}} capers nimbly in a lady's {{noun_2}} to court an {{adjective}} pleasing barded stern {{noun}} chamber</br>
To fright the souls of the {{plural_noun}} of fearful {{plural_noun}} to {{noun}} an ambling of a lady's chamber</br>
To strut before a wanton amorous {{color}} by this {{person}};</br>
Our {{plural_noun}} bound with victorious {{plural_noun}};</br>
Our {{plural_noun}}
</body>
</html>