<!doctype html>
<html>
<head>
  <title>Madlib</title>
</head>
<body>
    an ambling of {{person}};</br>
    And all the {{adjective}} looking-{{color}};</br>
    {{person}}, that am not shaped for sportive {{noun_2}},</br>
    Our {{adjective}} {{noun_2}} chamber</br>
    To {{adjective}} adversaries,</br>
    Our brows bound with {{adjective}} looking-glass;</br>
    Our {{color}} {{noun_2}} chamber</br>
    To the deep {{noun}} of {{person}};</br>
    And all the deep bosom of this summer by this {{color}} {{adjective}} tricks,</br>
    Our discontent</br>
    Made to {{adjective}} {{noun}} barded stern {{noun_2}} changed want love's {{noun}}</br>
    To strut before a want lour'd upon our {{adjective}} {{noun}} to {{adjective}} {{noun}},</br>
    Our {{color}}
</body>
</html>